<nav class="navbar navbar-expand-lg navbar-light pt-1 pb-1">
    <div class="container-fluid">
        <div class="d-flex">
            <a><img src="../../../assets/APLogo.png " alt="logoap" id="logoap"></a>
            <div id="circ" class="redSocHide">
                <ul>
                    <li>
                        <div class="back"></div>
                        <div class="icon">
                            <i class="fa-brands fa-facebook fa-2xs"></i>
                        </div>
                    </li>
                    <li>
                        <div class="back"></div>
                        <div class="icon">
                            <i class="fa-brands fa-instagram fa-2xs"></i>
                        </div>
                    </li>
                    <li>
                        <div class="back"></div>
                        <div class="icon">
                            <i class="fa-brands fa-linkedin fa-2xs"></i>
                        </div>
                    </li>
                    <li>
                        <div class="back"></div>
                        <div class="icon">
                            <i class="fa-brands fa-github fa-2xs"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex">
            <div id="circ" class="btUser">
                <ul>
                    <li>
                        <div class="icon pe-3 me-3">
                            <i class="fa-solid fa-user fa-2xs" alt="btUser"></i>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="align-self-center">
                <button class="navbar-toggler collapsed d-flex flex-column justify-content-around toggle" type="button" data-toggle="collapse" data-target="#navbarNav" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="toggler-icon top-bar menuIcon"></span>
                <span class="toggler-icon middle-bar menuIcon"></span>
                <span class="toggler-icon buttom-bar menuIcon"></span>
              </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item login-box">
                    <a href="#pagina1" class="nav-link active">Incio</a>
                </li>
                <li class="nav-item login-box">
                    <a href="#pagina2" class="nav-link active">Experiencia</a>
                </li>
                <li class="nav-item login-box">
                    <a href="#pagina3" class="nav-link active">Educación</a>
                </li>
                <li class="nav-item login-box">
                    <a href="#pagina4" class="nav-link active">Skils</a>
                </li>
                <li class="nav-item login-box">
                    <a href="#pagina5" class="nav-link active">Proyectos</a>
                </li>
            </ul>
            <div class="d-flex">
                <div id="esconder">
                    <div id="circ" class="navbar container-fluid  pt-0 pb-0 pe-1 me-1">
                        <ul>
                            <li>
                                <div class="back"></div>
                                <div class="icon">
                                    <i class="fa-brands fa-facebook fa-2xs"></i>
                                </div>
                            </li>
                            <li>
                                <div class="back"></div>
                                <div class="icon">
                                    <i class="fa-brands fa-instagram fa-2xs"></i>
                                </div>
                            </li>
                            <li>
                                <div class="back"></div>
                                <div class="icon">
                                    <i class="fa-brands fa-linkedin fa-2xs"></i>
                                </div>
                            </li>
                            <li>
                                <div class="back"></div>
                                <div class="icon">
                                    <i class="fa-brands fa-github fa-2xs"></i>
                                </div>
                            </li>
                        </ul>
                        <div class="login-box d-flex ps-1 ms-1">
                            <a href="/login">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span> Acceder
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
