<nav>
    <div id="navBar" class="fixed-top navbar-expand-lg">
        <app-header></app-header>
    </div>
</nav>
<div id="container--horizontal">
    <div class="section" id="pagina1">
        <app-acerca-de></app-acerca-de>
    </div>
    <div class="section" id="pagina2">
        <app-experiencia></app-experiencia>
    </div>
    <div class="section" id="pagina3">
        <app-educacion></app-educacion>
    </div>
    <div class="section" id="pagina4">
        <app-skills></app-skills>
    </div>
    <div class="section" id="pagina5">
        <app-proyectos></app-proyectos>
        <app-footer></app-footer>
    </div>
</div>