<nav id="header">
    <div id="menu" class="navbar fixed-top navbar-expand-lg">
        <div class=" container ">
            <app-header></app-header>
        </div>
    </div>
</nav>
<div id="container--horizontal">
    <div class="section" id="paga1">
        <app-acerca-de></app-acerca-de>
    </div>
    <div class="section" id="paga2">
        <app-experiencia></app-experiencia>
    </div>
    <div class="section" id="paga3">
        <app-educacion></app-educacion>
    </div>
    <div class="section" id="paga4">
        <app-skills></app-skills>
    </div>
    <div class="section" id="paga5">
        <app-proyectos></app-proyectos>
        <app-footer></app-footer>
    </div>
</div>